name: Docker Multi-Platform Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8,linux/riscv64,linux/386,linux/s390x,linux/arm/v7,linux/arm/v6,linux/ppc64le
          push: true
          tags: |
            alexanderwagnerdev/srtla-server:v0.1.16
            alexanderwagnerdev/srtla-server:0.1.16
            alexanderwagnerdev/srtla-server:latest
            ghcr.io/alexanderwagnerdev/srtla-server:v0.1.16
            ghcr.io/alexanderwagnerdev/srtla-server:0.1.16
            ghcr.io/alexanderwagnerdev/srtla-server:latest
